@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Viga&display=swap');

:root {
    --main-bg: #110F0F;
    --primary-header-clr: #368472;
    --anchor-clr: #B3B3B3;
    --regular-txt-clr: #0A8266;
    --anchor-hvr-clr: #ff00cc;
    --svg-stroke: #B3B3B3;
    --contact-popup: #423E3E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--main-bg);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-text {
    color: var(--primary-header-clr);
    font-size: 2rem;
    font-weight: 800;
    font-family: "Viga", sans-serif;
}

.subsection-h1 {
    font-size: 1.65rem;
    font-family: "Viga", sans-serif;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-right {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: var(--anchor-clr);
    font-size: 1.25rem; 
    font-family: "Inter", sans-serif;
}

a:hover {
    color: var(--anchor-hvr-clr);
}

.personal-summary {
    margin-top: 20px;
    color: var(--regular-txt-clr);
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: "Viga", sans-serif;
}

.top-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: var(--primary-header-clr);
    font-size: 1.8rem;
    font-weight: 600;
}

.actual-top-projects {
    display: flex;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Viga", sans-serif;
}

.footer {
    height: 100%;
    display: flex;
    align-items: end;
    gap: 16px;
}

.icons-div {
    display: flex;
    align-items: center;
    gap: 16px;
}


.mail-svg,
.github-svg,
.linkedin-svg {
    stroke: var(--svg-stroke);
    height: 32px;
    width: 32px;
}

.mail-svg:hover,
.github-svg:hover,
.linkedin-svg:hover {
    stroke: var(--anchor-hvr-clr);
}

#contact-popup {
    width: fit-content;
    height: 52px;
    border-radius: 12px;
    background-color: var(--contact-popup);
    visibility: hidden;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 20px;
}

.svg-fill {
    fill: var(--svg-stroke);
    height: 32px;
    width: 32px;
}

.svg-fill:hover {
    fill: var(--anchor-hvr-clr);
}
