@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Viga&display=swap');

:root {
    --main-bg: #110F0F;
    --primary-header-clr: #368472;
    --anchor-clr: #B3B3B3;
    --regular-txt-clr: #0A8266;
    --anchor-hvr-clr: #ff00cc;
    --svg-stroke: #B3B3B3;
    --contact-popup: #423E3E;
    --success-alert: #4BB543;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--main-bg);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-text {
    color: var(--primary-header-clr);
    font-size: 2rem;
    font-weight: 800;
    font-family: "Viga", sans-serif;
}

.subsection-h1 {
    color: var(--primary-header-clr);
    font-size: 1.65rem;
    font-family: "Viga", sans-serif;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-right {
    display: flex;
    gap: 24px;
}

a,
.contact-me-txt,
#next-project,
.nav-txt {
    text-decoration: none;
    color: var(--anchor-clr);
    font-size: 1.25rem; 
    font-family: "Inter", sans-serif;
}

a:hover, 
#next-project:hover,
.nav-txt {
    color: var(--anchor-hvr-clr);
    cursor: pointer;
}

#next-project {
   display: none;
}

.personal-summary {
    margin-top: 20px;
    color: var(--regular-txt-clr);
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: "Viga", sans-serif;
}

.top-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: var(--primary-header-clr);
    font-size: 1.8rem;
    font-weight: 600;
}

.actual-top-projects {
    display: flex;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Viga", sans-serif;
    display: none;
}

#next-project-btn {
    background-color: var(--primary-header-clr);
    color: white;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 60px;
    width: 120px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    display: none;
}


.project-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 100%;
    display: flex;
    align-items: end;
    gap: 16px;
}

.icons-div {
    display: flex;
    align-items: center;
    gap: 16px;
}


.mail-svg,
.github-svg,
.linkedin-svg,
.copy-svg {
    stroke: var(--svg-stroke);
    height: 32px;
    width: 32px;
}

.mail-svg:hover,
.github-svg:hover,
.linkedin-svg:hover,
.copy-svg:hover {
    stroke: var(--anchor-hvr-clr);
}

#contact-popup {
    width: fit-content;
    height: 52px;
    border-radius: 12px;
    background-color: var(--contact-popup);
    visibility: hidden;
    display: flex;
    align-items: center;
    padding-left: 8px; 
    padding-right: 8px;
    gap: 20px; 
}

.svg-fill {
    fill: var(--svg-stroke);
    height: 32px;
    width: 32px;
}

.svg-fill:hover {
    fill: var(--anchor-hvr-clr);
}



#snackbar {
    visibility: hidden;
    min-width: 100px;
    color: #fff; 
    text-align: center; 
    border-radius: 4px; 
    padding: 16px;
    font-family: "Viga", sans-serif;
    background-color: var(--success-alert);
}

#snackbar.show {
    visibility: visible; 
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.flip-card {
    background-color: transparent;
    width: 480px;
    height: 200px;
    border-radius: 12px;
    perspective: 1000px; 
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 12px;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid var(--primary-header-clr);
    border-radius: 16px;
}
  
.flip-card-back {
    border: 1px solid var(--primary-header-clr);
    color: white;
    transform: rotateY(180deg);
    text-align: start;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; 
}

.project-title {
    font-size: 1.5rem;
    font-family: "Viga", sans-serif;
    color: var(--primary-header-clr);
    margin-bottom: 8px;
    text-align: center;
}

.project-content {
    font-size: 1.2rem;
    color: var(--regular-txt-clr);
    font-family: "Inter", sans-serif;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 8px;
}

.project-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#project-demo,
#project-website {
    display: none;
} 


.project-tools-list {
    list-style: none;
    font-size: 1rem;
    color: var(--regular-txt-clr);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    letter-spacing: 0.2rem;
    margin-top: 8px;
}

#tools-header {
    font-size: 1.2rem;
    color: var(--primary-header-clr);
    font-family: "Viga", sans-serif;
    margin-bottom: 8px;
}

.projects-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
    height: 80px;
}

#search {
    height: 60px;
    width: 800px;
    border-radius: 16px;
    padding-left: 40px;
    font-size: 1.4rem;
    padding-right: 40px;
    display: none;
    /* margin-bottom: 60px; */
}


#search-svg,
#filter-svg {
    height: 32px;
    width: 32px;
    stroke: var(--svg-stroke);
}

#search-svg:hover,
#filter-svg:hover 
{
    cursor: pointer;
    stroke: var(--anchor-hvr-clr);
}


#project-search-svg {
    display: flex;
    align-items: center;
    gap: 8px;
}

#projects-display {
    display: none;
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 200px;
}




/* #search {
    height: 60px;
    width: 800px;
    border-radius: 16px;
    padding-left: 60px;
    font-size: 1.4rem;
    padding-right: 40px;
}


#search-svg {
    height: 32px;
    width: 32px;
    position: absolute;
    margin-left: -740px;
} */